@charset "UTF-8";
/* “fade-in”（淡入）动画：
   元素从完全透明（opacity: 0）逐渐变为完全不透明（opacity: 1） */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* “slide-up”（向上滑入）动画：
   元素从下方 5rem 位置逐渐移动到原始位置，同时从透明过渡到不透明 */
@keyframes slide-up {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* “slide-down”（向下滑入）动画：
   元素从上方 5rem 位置逐渐移动到原始位置，同时从透明过渡到不透明 */
@keyframes slide-down {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "LongCang";
  src: url("../assets/fonts/LongCang-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: sans-serif;
  font-weight: 400;
  font-family: inherit;
  padding: 5px 0;
  margin: 1.5rem 0;
  line-height: 1.4;
  font-size: 4rem;
}

h2 {
  font-weight: 400;
  font-family: inherit;
  padding: 5px 0;
  margin: 1.5rem 0;
  line-height: 1.4;
  font-size: 3rem;
}

p {
  font-weight: 400;
  font-family: inherit;
  padding: 5px 0;
  margin: 0.5rem 0;
  line-height: 1.4;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  color: #eee;
  font-size: 1.6rem;
  letter-spacing: 5px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
.nav__wrap {
  height: 100%;
  padding: 0rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__wrap > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__right > div:not(:last-child) {
  margin-right: 1rem;
}
.nav__logo {
  letter-spacing: normal;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin-right: 5rem;
}
.nav__logo:hover {
  cursor: pointer;
}
.nav__logo--colorful {
  padding: 1rem;
  background-color: skyblue;
  color: #eee;
  border-radius: 10px;
  margin-right: -1rem;
}
.nav__links {
  height: 100%;
}
.nav__links, .nav__links > .nav__item {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__item {
  padding: 3rem 1rem;
}
.nav__item:not(:last-child) {
  margin-right: 3rem;
}
.nav__link:link, .nav__link:visited {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.nav__link--active {
  font-weight: bolder;
}

.seasons {
  width: 100%;
  height: 100vh;
  color: #f7f7f7;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}
.seasons__container {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.seasons__content {
  height: 100%;
}
.seasons__content:hover {
  cursor: default;
}
.seasons__title {
  font-family: "KaiTi";
  position: absolute;
  top: 23%;
  left: 45%;
  font-size: 8rem;
  margin-right: 2rem;
}
.seasons__title:hover {
  cursor: pointer;
}
.seasons__line {
  position: absolute;
  top: 31%;
  left: 51%;
  height: 20rem;
  outline: 1.5px solid currentColor;
  margin-right: 2rem;
}
.seasons__welcome {
  font-family: "LongCang";
  position: absolute;
  top: 35%;
  left: 52%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  height: 33rem;
}
.seasons__welcome:hover {
  cursor: pointer;
}
.seasons__date-wrapper {
  position: absolute;
  bottom: 8%;
  left: 50%;
  height: auto;
  transform: translate(-50%, 0);
}
.seasons__date {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2rem;
  opacity: 0;
}
.seasons__date:hover {
  cursor: default;
}
.seasons__spring {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.5), rgba(40, 130, 133, 0.5)), url("../../assets/pic/seasons-春.jpg");
}
.seasons__summer {
  background-image: url("../../assets/pic/seasons-夏.png");
  filter: saturate(130%);
}
.seasons__autumn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom right, rgba(255, 253, 208, 0.2), rgba(255, 191, 0, 0.2)), url("../../assets/pic/seasons-秋.jpg");
  background-position: center;
  filter: blur(1px);
}
.seasons__winter {
  background-image: linear-gradient(to bottom right, rgba(255, 253, 255, 0.2), rgba(255, 191, 255, 0.2)), url("../../assets/pic/seasons-冬.png");
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

body.article .header {
  height: max-content;
}

body.article {
  background-color: #f7f7f7;
}

body.article .nav {
  color: #444;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4); /* 上方阴影 */
}

.article__container {
  padding: 10rem 0rem;
  width: 100%;
  height: auto;
  display: flex;
}
.article__left {
  flex: 1; /* 占据剩余空间 */
}
.article__right {
  flex: 0 0 20%; /* 不增长，不缩小，固定宽度30% */
}
.post {
  margin: 5rem 0;
  padding-left: 10rem;
  padding-right: 10rem;
  line-height: 1.7;
  color: #333;
}
.post__content {
  font-size: 1.6rem;
  margin-left: 10rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  background-color: white;
}

.post__content table {
  width: 100%;
  border-collapse: collapse; /* 去掉双边框 */
  margin: 1em 0;
  font-size: 14px;
}

.post__content th,
.post__content td {
  border: 1px solid #ccc; /* 表格边框 */
  padding: 8px 12px; /* 内边距 */
  text-align: left;
}

.post__content th {
  background-color: #f5f5f5; /* 表头背景 */
}

.post__content tr:nth-child(even) td {
  background-color: #fafafa; /* 偶数行背景 */
}

body.blog .header {
  height: max-content;
}

body.blog {
  background-color: #f1f1f1;
}

body.blog .nav {
  color: #444;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4); /* 上方阴影 */
}

.blog {
  padding-bottom: 20rem;
}
.blog__container {
  padding: 15rem;
  width: 100%;
  height: auto;
  display: flex;
}
.blog__left {
  flex: 1; /* 占据剩余空间 */
  border-right: dashed 1px #777;
  padding-right: 5rem;
}
.blog__right {
  flex: 0 0 15%; /* 不增长，不缩小，固定宽度30% */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem 2rem;
}
.blog__wrap {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.blog__wrap:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.blog__header {
  text-align: center;
  margin-bottom: 1rem;
}
.blog__title {
  margin-bottom: 1rem;
}
.blog__content {
  font-size: 1.6rem;
}
.blog__content > p {
  height: 7rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}
.blog__goto {
  display: block;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
