// 主色调
$color-primary: #87ceeb;

// 派生色
$color-primary-light: #b9e6fa;
$color-primary-dark: #4aa3c2;

// 可选：用于渐变、hover、禁用状态
$color-primary-gradient-start: #a3dbf3;
$color-primary-gradient-end: #a3dbf3;
$color-primary-disabled: #c3e8ef;
// 灰色
$color-white: white;
$color-bg: #f1f1f1;
$color-grey-light: #f7f7f7;
$color-grey: #eee;
$color-grey-dark: #777;
$color-grey-dark-1: #333;
$color-grey-dark-2: #444;

// 字体大小
$font-size-body: 1.6rem; // 正文：16px
$font-size-heading: 2rem; // 标题/强调：20px
$font-size-small: 1.4rem; // 小号字体：14px
$font-size-large: 2.4rem; // 大号字体：24px
$font-size-xl: 3rem; // 特大号字体：30px
$font-size-xxl: 4rem; // 特特大号字体：40px
