// 灰色
$color-grey-light: #f7f7f7;
$color-grey: #eee;
$color-grey-dark: #777;
$color-grey-dark-1: #333;

// 字体大小
$font-size-body: 1.6rem; // 正文：16px
$font-size-heading: 2rem; // 标题/强调：20px
$font-size-small: 1.4rem; // 小号字体：14px
$font-size-large: 2.4rem; // 大号字体：24px
$font-size-xl: 3rem; // 特大号字体：30px
