@use "../abstracts/" as a;

.btn {
  font-weight: 400;
  font-size: a.$font-size-body;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
  }

  &__read-more {
    letter-spacing: 2rem;
    border-radius: 0;
    color: a.$color-grey-dark-2;
    background-color: a.$color-grey-light;

    // 悬浮效果
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 230%;

    transition: 0.5s;

    &:hover {
      color: a.$color-primary;
      background-color: a.$color-primary;
      background-position: 100% center;
    }
  }
}
