<!-- 文章搜索 -->
<form class="article-search">
  <input
    type="search"
    name="search"
    id="article-search__input"
    placeholder="Search..."
  />

  <section aria-live="polite" class="article-search__results--container">
    <ul class="article-search__results--content">
      <li>
        <h3 class="article-search__results--title">
          JavaScript 基础教程JavaScript 基础教程JavaScript 基础教程
        </h3>
        <p class="article-search__results--snippets">JavaScript 基础教程</p>
        <p class="article-search__results--snippets">JavaScript 基础教程</p>
        <p class="article-search__results--snippets">JavaScript 基础教程</p>
      </li>
      <li>
        <h3 class="article-search__results--title">JavaScript 基础教程</h3>
        <p class="article-search__results--snippets">JavaScript 基础教程</p>
      </li>
    </ul>
  </section>
</form>
